// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


:root {
  --main-border: #efefef;
  --focus-border: #888888;
  --div-primary: #5d6c77;
  --div-accent: #2dc84d;
  --div-tertiary: #00bce4;

  @include mat.sidenav-overrides((container-shape: none, content-background-color: white, container-width: 200px));

  @include mat.progress-bar-overrides((active-indicator-color: var(--focus-border)));
  @include mat.form-field-overrides((container-vertical-padding: 8px,
      container-height: 40px));
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-between;
}